<h1>Augur</h1>
<div class="search">
  <div>
    <input type="search" placeholder="Search..." (input)="search($event)" />
  </div>
</div>
<table>
  <tr class="section-title">
    <td>Name</td>
    <td>Quantity Shipped Last Month</td>
    <td>Forecasted Quantity for Next Month</td>
    <td>YTD Average Monthly Shipments</td>
  </tr>
  <tr *ngFor="let distributor of distributors">
    <td>{{ distributor.name }}</td>
    <td>{{ distributor.quantityShippedLastMonth }}</td>
    <td>{{ distributor.forecastedQuantityNextMonth }}</td>
    <td>{{ distributor.ytdAverageMonthlyShipments }}</td>
  </tr>
</table>
